<%- include ('header.ejs') %>

<div class="card">
    <h5 class="card-header" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font-size:30px;">All Orders</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr><th>User</th>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Quantuty</th>
                    <th>Price</th>
                    <th>Order status</th>
                    <th>Payment</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
             <% orders.forEach(function(product){ %>    
                <% product.products.forEach(function(x){ %>
                <tr><td></td>
                    <td><img src="/<%= x.productId.imageUrl %>" alt="" style="height: 60px; width:60px ;"></td>
                    <td><%= x.productId.productName %></td>
                    <td style="font-size: large; color:black ;"><%= x.productId.category %></td>
                    <td><%= x.quantity %></td>
                    <td><strong><%= x.total %></strong></td>
                    <td style="color:red ;"><%= product.orderStatus %> </td>
                    <td>Cash on delivery</td>
                    <td></td>
                </tr>
                <% }) %>
                <% }) %>
               
                
            </tbody>
        </table>
    </div>
</div>







<%- include ('footer.ejs') %>