<%- include ('header.ejs') %>

  

    <%- include ('nav.ejs') %>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

       
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              
              <h5 class="pb-1 mb-4">All Categories</h5>
              <div class="row mb-5">
                
                <% category.forEach(function(x){ %>

                <div class="col-md-6 col-xl-4 " >
                  <div class="card bg-white border-0 text-white " style="height:300px ;">
                    <img class="card-img" style="height:260px ;" src="/<%= x.imageUrl %>" alt="Card image" />
                    <div class="card-img-overlay">
                      <h5 class="card-title text-white" style="margin-top:20% ;"><%= x.categoryName %></h5>
                      <p class="card-text">
                        
                      </p>
                      
                    </div>
                  </div>
                </div>
                <% }) %>

                <div class="col-md-6 col-xl-4">
                   <a href="/admin/addCategory">
                     <div class="card bg-secondary border-0 text-white" style="height: 300px;">
                      <!-- <img class="card-img" src="/public/adminAssets/img/elements/11.jpg" alt="Card image" /> -->
                      <div class="card-img-overlay">
                        <h4 class="card-title" style="margin:30% ;">Add more</h4>
                        
                        
                       </div>
                     </div>
                    </a> 
                </div>


              </div>
             

              
              
             
             
              
            

            <!-- Footer -->
            
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    

    <%- include ('footer.ejs') %>

    
  