
 <%- include ('header.ejs') %>
 

 <div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <a href="#" class="app-brand-link">
          <span class="app-brand-logo demo">
            <img style="height: 75px ;" src="/Images\logo-login.jpeg" alt="">
          </span>
          
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item ">
          <a href="/admin/dashboard" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
          </a>
        </li>

        <!-- Layouts -->
        <li class="menu-item  ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Layouts">Products</div>
          </a>

          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/adminProducts" class="menu-link">
                <div data-i18n="Without menu">All Products</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/addProducts" class="menu-link">
                <div data-i18n="Without navbar">Add Products</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/categories" class="menu-link">
                <div data-i18n="Container">Categories</div>
              </a>
            </li>
          </ul>
           
        </li>

        
        <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Account Settings">Art supplies</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/artSupplies" class="menu-link">
                <div data-i18n="Account">Supplies products </div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/addArtSupply" class="menu-link">
                <div data-i18n="Notifications">Add supplies</div>
              </a>
            </li>
           
          </ul>
        </li>
        <li class="menu-item active">
          <a href="" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
            <div  data-i18n="Authentications">Management</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/bannerPage" class="menu-link" target="_blank">
                <div data-i18n="Basic">Banner management</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/couponPage" class="menu-link" target="_blank">
                <div data-i18n="Basic">Coupon management</div>
              </a>
            </li>
            
            
          </ul>
        </li>
        <li class="menu-item">
          <a href="/admin/allUsers" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-cube-alt"></i>
            <div data-i18n="Misc">Users</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/allUsers" class="menu-link">
                <div data-i18n="Without menu">All Users</div>
              </a>
            </li>
          </ul> 
        </li>
        <li class="menu-item">
          <a href="/admin/adminOrders" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
            <div data-i18n="Misc">Orders</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/adminOrders" class="menu-link">
                <div data-i18n="Without menu">All Orders</div>
              </a>
            </li>
          </ul> 
        </li>
      </ul>
    </aside> 

    <div class="layout-page">
      <!-- Navbar -->

      <nav
        class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
              <i class="bx bx-search fs-4 lh-0"></i>
              <input
                type="text"
                class="form-control border-0 shadow-none"
                placeholder="Search..."
                aria-label="Search..."
              />
            </div>
          </div>
          <!-- /Search -->

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
              <a
                class="github-button"
                href="https://github.com/themeselection/sneat-html-admin-template-free"
                data-icon="octicon-star"
                data-size="large"
                data-show-count="true"
                aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                >Star</a
              >
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                  <img src="/Images\rbs.jpg" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="/Images\rbs.jpg" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">Ribinsh p</span>
                        <small class="text-muted">Admin</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-cog me-2"></i>
                    <span class="align-middle">Settings</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <span class="d-flex align-items-center align-middle">
                      <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                      <span class="flex-grow-1 align-middle">Billing</span>
                      <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                    </span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="auth-login-basic.html">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>

 <h2 class="text-center" >Coupon Management</h2>

<div class="row mb-5">

  <% coupon.forEach(function(coupon){ %> 
 <div class="col-md-6 col-lg-4 mb-3">
    <div class="card h-100">
      
      <div class="card-body"  style="background-color:rgb(156, 168, 137) ;">
        <p class="card-text">Coupon name</p>
        <h5 class="card-title"><%= coupon.couponName %></h5>
        <p class="card-text">discount Price </p>
        <h4 class="card-title" style="color: red;"><%= coupon.discount %></h4>
        <p class="card-text">Minimum Amount </p>
        <h4 class="card-title"><%= coupon.minAmount %></h4>
        <button class="btn btn-outline-info">Delete</button> 
       
      </div>
    </div>
  </div>
  <% }) %>

  <div class="col-md-6 col-lg-4 mb-3">
    <div class="card h-100">
      
      <div class="card-body">

        <h5 class="card-title"> Add Coupon</h5>
        <form action="/admin/addCoupon" method="post" >

        <label class="form-label" for="basic-icon-default-company">Coupon name</label>
        <input
        type="text"
        id="basic-icon-default-company"
        name="couponName"
        class="form-control"
        placeholder="name"
        aria-label="ACME Inc."
        aria-describedby="basic-icon-default-company2"
        required
      />

      <label class="form-label" for="basic-icon-default-email">Discount amount</label>
      <input
      type="number"
      id="basic-icon-default-email"
      name="discount"
      class="form-control"
      placeholder="price"
      required
      aria-describedby="basic-icon-default-email2"
    />

    <label class="form-label" for="basic-icon-default-email">Minimum  amount</label>
    <input
    type="number"
    id="basic-icon-default-email"
    name="minAmount"
    class="form-control"
    placeholder="require amount for offer"
    required
    aria-describedby="basic-icon-default-email2"
  />

    

   
   

        <button type="submit" class="btn btn-outline-success">Save</button> 

    </form>
      </div>
    </div>
  </div>

  </div>






 <%- include ('footer.ejs') %>