<%- include ('header.ejs') %>

<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <a href="#" class="app-brand-link">
          <span class="app-brand-logo demo">
            <img style="height: 75px ;" src="/Images\logo-login.jpeg" alt="">
          </span>
          
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item ">
          <a href="/admin/dashboard" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
          </a>
        </li>

        <!-- Layouts -->
        <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Layouts">Products</div>
          </a>

          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/adminProducts" class="menu-link">
                <div data-i18n="Without menu">All Products</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/addProducts" class="menu-link">
                <div data-i18n="Without navbar">Add Products</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/categories" class="menu-link">
                <div data-i18n="Container">Categories</div>
              </a>
            </li>
          </ul>
           
        </li>

        
        <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Account Settings">Art supplies</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/artSupplies" class="menu-link">
                <div data-i18n="Account">Supplies products </div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/addArtSupply" class="menu-link">
                <div data-i18n="Notifications">Add supplies</div>
              </a>
            </li>
           
          </ul>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
            <div  data-i18n="Authentications">Management</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/bannerPage" class="menu-link" target="_blank">
                <div data-i18n="Basic">Banner management</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/couponPage" class="menu-link" target="_blank">
                <div data-i18n="Basic">Coupon management</div>
              </a>
            </li>
            
            
          </ul>
        </li>
        <li class="menu-item active">
          <a href="/admin/allUsers" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-cube-alt"></i>
            <div data-i18n="Misc">Users</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/allUsers" class="menu-link">
                <div data-i18n="Without menu">All Users</div>
              </a>
            </li>
          </ul> 
        </li>
        <li class="menu-item">
          <a href="/admin/adminOrders" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
            <div data-i18n="Misc">Orders</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/admin/adminOrders" class="menu-link">
                <div data-i18n="Without menu">All Orders</div>
              </a>
            </li>
          </ul> 
        </li>
      </ul>
    </aside> 
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav
        class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
              <i class="bx bx-search fs-4 lh-0"></i>
              <input
                type="text"
                class="form-control border-0 shadow-none"
                placeholder="Search..."
                aria-label="Search..."
              />
            </div>
          </div>
          <!-- /Search -->

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
              <a
                class="github-button"
                href="https://github.com/themeselection/sneat-html-admin-template-free"
                data-icon="octicon-star"
                data-size="large"
                data-show-count="true"
                aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                >Star</a
              >
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                  <img src="/Images\rbs.jpg" alt class="w-px-40 h-auto rounded-circle" />
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="/Images\rbs.jpg" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">Ribinsh p</span>
                        <small class="text-muted">Admin</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">My Profile</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-cog me-2"></i>
                    <span class="align-middle">Settings</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <span class="d-flex align-items-center align-middle">
                      <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                      <span class="flex-grow-1 align-middle">Billing</span>
                      <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                    </span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/adminLogout">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>


  <div class="card">
    <h5 class="card-header">Users list</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            <% users.forEach(function(x){ %>
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i><%= index++ %> </td>
            <td><%= x.name %></td>
            <td><%= x.email %></td>
            <td><%= x.phone %></td>
            <td><%= x.status %></td>
            <td></td>
            <td>
              <% if (x.status == "Blocked") { %>
                <form action="/admin/unblockUser/<%= x._id %>" method="post">
                  <button type="submit" class="btn btn-success">Unblock</button>
                </form>
                <% } else { %>
                <form action="/admin/blockUser/<%= x._id %>" method="post">
                  <button type="submit" class="btn btn-danger">Block</button>
                </form>
                <% } %>
             
            </td>
          </tr>
          <% }) %>
          
         
          
        </tbody>
      </table>
    </div>
  </div>
  <%- include ('footer.ejs') %>


