<html lang="en">
    <head >
        <title style="color: brown">LOGIN/SIGN UP</title>
        <meta name="author" content="Zaur">
        <meta descryption content="Presentation of website">
        <meta name="keywords" content="technology, cyber security, software">
        <meta http-equiv="refresh" content="100">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/stylesheets/wishlist.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
  <body>

    <%- include ('nav.ejs') %>
<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading mb-10">My wishlist</div>
                <div class="table-wishlist">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="45%">Product Name</th>
                                <th width="15%">Unit Price</th>
                                <th width="15%">Stock Status</th>
                                <th width="15%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                           <% wish.forEach(function(product) { %> 
                            <tr>
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="/<%= product.imageUrl %>" alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            <%= product.productName %>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" class="price">Rs.<%= product.price %></td>
                                <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                <td width="15%"><a href="/addToCartWishlist/<%= product._id %>"><button class="round-black-btn small-btn">Add to Cart</button></a></td>
                                <td width="10%" class="text-center"><a href="/deleteWishlist/<%= product._id %>" class="trash-icon"><i class="bi bi-trash"></i></a></td>
                            </tr>
                          <%  }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
